[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyserial = "*"
"rpi.gpio" = "*"
opencv-contrib-python = "*"
breezyslam = {path = "/home/irrigatron/BreezySLAM/python"}

[dev-packages]

[requires]
python_version = "3.11"
