[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyserial = "*"
matplotlib = "*"
opencv-python = "*"
breezyslam = {path = "/home/irrigatron/BreezySLAM/python"}
roboviz = {path = "/home/irrigatron/PyRoboViz"}
rplidar = "*"
"rpi.gpio" = "*"
opencv-contrib-python = "*"

[dev-packages]

[requires]
python_version = "3.10"
